{% extends "_base.html" %}


{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <h2>Valider votre commande</h2>
    <ul>
      {% for item in cart %}

      <li>
        {{ item.product.name }} X {{ item.quantity }} : {{ item.total_price|floatformat }}
      </li>
      {% endfor %}
    </ul>
    <p>Total a payer: {{ cart.get_total_price }}</p>
    <form action="#" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group mt-2">
        <label for="{{ field.id_labale }}" class="form-label">{{ field.label }}:</label>
        {{ field }}
      </div>
      {% endfor %}
      <div class="form-group">
        <button class="btn btn-primary mt-4" type="submit">Valider</button>
      </div>
    </form>
  </div>

</div>
{% endblock content %}