{% extends "_base.html" %}

{% block content %}
<section>


  <div class="row">
    <div class="col-md-6">
      <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-6">
      <h2>
        {{ product.name }} <br>
        {{ product.price|floatformat }} FCFA
      </h2>
      <form action="{% url 'cart_add' product.id %}" method="post">
        {% csrf_token %}
        {{ cart_product_form }}
        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
      </form>

    </div>
  </div>

</section>
{% endblock content %}